p
{
	color: rgb(0,0,255);/*bleu*/
}
blouje
{
	color: rgb(200,0,0);/*rouge*/
}
em,h1
{
	color: rgb(128,255,0);
}
.exeption1
{
	color: rgb(255, 0, 228);
}
#img_mort-visage-gros-plan-halloween
{
	max-height: 25%;
	max-width: 25%;
}